---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJyZXBvcnRpbmctdGVzdGluZ0BwZW5zaW9uLXdpc2UuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJhdWQiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20vby9vYXV0aDIvdG9rZW4iLCJleHAiOjE0NjQzNjMxMjMsImlhdCI6MTQ2NDM2MzAwMywic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL3NwcmVhZHNoZWV0cy5yZWFkb25seSJ9.HA4LhOI6i9xKhC5uxJaVoSZNs16OQinK-U-kgDLWb54LPUzcfZqE3U7MCfuNDyLOP8j4Xgt2BDW-Uwf6MRrccvJzix_e-7MiWiC55JVLuR2Z53NAvV94D3dA5e-4lFltPxOcRQEk0sarU9mEDKnZ-7H9HgRJlCfDCaohtaKmQWr1_ms6lOawNvg9yfjcntLAPUeG4wChOFYzJZBkbibuSWE00EaNRDAAUhdtID6uZKqB3C_zmi-NMzz3ZNKu4O8RrM9117f6qzLsXGW6o0ly0RDg7qbzb8eJhLCmtAbUVSb42juszN5EdP60rNtn55U387BVb1oQOrvBYYA0Q_G7YA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "ya29.CjLvAr1Y97ORCdJp_HUG3sFYYPwxrW30jShepD0V0ZRtbYgGfKqoSLYaRFugiglSdrkCQA",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Fri, 27 May 2016 15:31:03 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1EJCoyQc2Zq4ntSlfqKFnSu65J67MxJJ8hN28YIZ9vWk/values/A:K
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjLvAr1Y97ORCdJp_HUG3sFYYPwxrW30jShepD0V0ZRtbYgGfKqoSLYaRFugiglSdrkCQA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
          "range": "Sheet1!A1:K1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "Timestamp",
              "Location",
              "Date of guidance session",
              "Thinking about your overall experience of Pension Wise, how satisfied or dissatisfied are you with the service?",
              "Please let us know anything that has made you particularly satisfied or dissatisfied with the Pension Wise service:"
            ],
            [
              "25/05/2016 10:10:00",
              "Newtownabbey",
              "25/05/2016",
              "Very satisfied",
              "Very pleased with the advice I was given by Mr Ian Thompson"
            ],
            [
              "25/05/2016 10:12:00",
              "Banbridge",
              "24/05/2016",
              "Fairly satisfied",
              "Contact my pension provider"
            ]
          ]
        }
  recorded_at: Fri, 27 May 2016 15:31:04 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1lF76h4ICYW3MyLIAslstfqhnebs9ciZjx5pcw6nRaGQ/values/A:K
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjLvAr1Y97ORCdJp_HUG3sFYYPwxrW30jShepD0V0ZRtbYgGfKqoSLYaRFugiglSdrkCQA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
    [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/15NV6AIlQMW_5iV0i4F279Hxwk2_Mj8OHllTLHJXTdV4/values/A:K
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjLvAr1Y97ORCdJp_HUG3sFYYPwxrW30jShepD0V0ZRtbYgGfKqoSLYaRFugiglSdrkCQA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
          "range": "Sheet1!A1:K1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "Timestamp",
              "Location",
              "Date of guidance session",
              "Thinking about your overall experience of Pension Wise, how satisfied or dissatisfied are you with the service?",
              "Please let us know anything that has made you particularly satisfied or dissatisfied with the Pension Wise service:"
            ],
            [
              "27/05/2016 08:43:11",
              "Lincoln & District",
              "25/05/2016",
              "Very dissatisfied",
              "The appointment wasn't as good as I expected."
            ],
            [
              "27/05/2016 08:43:48",
              "Peterborough",
              "25/05/2016",
              "Very satisfied",
              ""
            ]
          ]
        }
  recorded_at: Fri, 27 May 2016 15:31:06 GMT
recorded_with: VCR 3.0.3
