---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=sekrets
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "sekrets",
          "expires_in" : 3600,
          "token_type" : "Bearer"
        }
  recorded_at: Fri, 11 May 2018 11:02:32 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/19kxfBGzX677eEDFJl9xL4FX8OtzYZCtrgyylEItwpKA/values/A:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer sekrets
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "'Form responses 1'!A1:E316",
          "majorDimension": "ROWS",
          "values": [
            [
              "Timestamp",
              "Delivery Centre Location",
              "Tesco Site",
              "Date of guidance session",
              "Thinking about your overall experience of Pension Wise, how satisfied or dissatisfied are you with the service?"
            ],
            [
              "09/04/2018 09:46:26",
              "Cheshire West",
              "Chester",
              "09/04/2018",
              "Very dissatisfied"
            ],
            [
              "09/04/2018 10:02:21",
              "Derbyshire Districts",
              "Derby Mickleover",
              "09/04/2018",
              "Very satisfied"
            ]
          ]
        }
  recorded_at: Fri, 11 May 2018 11:02:33 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1b3O4ECSDg6xK2beV-PMJ_4USBdN5hhr85Ms42yGmwhU/values/A:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer sekrets
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1yFdUABsZyJGQ10POZtSXbYHCrbkx4wmgP7JHAX278Hs/values/A:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer sekrets
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
     [...]
