---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=sekrets
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "sekrets",
          "expires_in" : 3600,
          "token_type" : "Bearer"
        }
  recorded_at: Sun, 10 Dec 2017 17:04:13 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1oEA6LWyVHjBwBwx4QfTdSUpTgjeCK-aqHvIRlaQnQn8/values/A:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer sekrets
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "'Form responses 1'!A1:E1129",
          "majorDimension": "ROWS",
          "values": [
            [
              "Timestamp",
              "Date of guidance session",
              "Location",
              "Delivery Centre",
              "Overall, how satisfied are you with the service you received from Pension Wise?"
            ],
            [
              "13/11/2017 13:49:53",
              "13/11/2017",
              "Tesco Delamare (Hatfield)",
              "Stevenage",
              "Very pleased"
            ],
            [
              "14/11/2017 11:56:14",
              "13/11/2017",
              "Tesco Bank (Longbenton)",
              "North Tyneside",
              "Very pleased"
            ]
          ]
        }
  recorded_at: Sun, 10 Dec 2017 17:04:15 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1gTf9tnIiSz9ZJVKjEvGz8iE0YTyiKh3o-1syPYaRF_Y/values/A:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer sekrets
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "'Form responses 1'!A1:E136",
          "majorDimension": "ROWS",
          "values": [
            [
              "Timestamp",
              "Location",
              "Date of guidance session",
              "Overall, how satisfied are you with the service you received from Pension Wise?",
              "What were the main things you were hoping to get from your Pension Wise appointment?"
            ],
            [
              "13/11/2017 17:27:38",
              "Tesco Bank (Glasgow)",
              "13/11/2017",
              "Very pleased",
              "Understand what I can do with my pension pot, Things I should be considering about retirement"
            ],
            [
              "14/11/2017 10:32:03",
              "Tesco Bank (EHQ)",
              "13/11/2017",
              "Delighted",
              "Understand what I can do with my pension pot, Find out which pension options might be suitable for me"
            ]
          ]
        }
  recorded_at: Sun, 10 Dec 2017 17:04:17 GMT
recorded_with: VCR 3.0.3
