---
http_interactions:
- request:
    method: get
    uri: https://api.twilio.com/2010-04-01/Accounts/ACCOUNT_SID/Calls.json?StartTime%3C=2016-04-13&StartTime%3E=2016-04-11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUNDT1VOVF9TSUQ6QVVUSF9UT0tFTg==
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.003'
      Twilio-Request-Id:
      - RQ8b511cb225d1416b9f04f2a1eebdd6f5
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /2010-04-01/Accounts/ACCOUNT_SID/Calls.json
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Tue, 31 May 2016 09:16:26 GMT
recorded_with: VCR 3.0.3
