.l-costs__header {
  font-weight: bold;
  background-color: $costs-header-background;
  color: $costs-header-color;
}

.l-costs__footer {
  background-color: $costs-footer-background;
  color: $costs-footer-color;
}

.l-costs__forecast-text {
  color: $costs-forecast-unchecked;
}

.l-costs__forecast-checkbox:checked + .l-costs__forecast-text {
  color: $costs-forecast-checked;
}

// costs report
.l-costs__component {
  color: $costs-component-color;
  font-size: 10px;
  text-align: center;
}

.l-costs__value {
  font-size: 14px;
  text-align: center;
}
