# see https://github.com/ankane/blazer for more info

data_sources:
  summary_documents:
    url: <%= ENV['SUMMARY_DOCUMENT_GENERATOR_DATABASE_URL'] %>

    smart_columns:
      organisation_content_id:
        "14a48488-a42f-422d-969d-526e30922fe4": "TPAS"
        "41075b50-6385-4e8b-a17d-a7b9aae5d220": "TP"
        "0c686436-de02-4d92-8dc7-26c97bb7c5bb": "CAS"
        "1de9b76c-c349-4e2a-a3a7-bb0f59b0807e": "NI"
        "b805d50f-2f56-4dc7-a3cd-0e3ef2ce1e6e": "North Tyneside"
        "c554946e-7b79-4446-b2cd-d930f668e54b": "Lancashire West"
        "64f46eb9-de5d-4227-b9fb-de3bdfcfe602": "Staffordshire South West"
        "bc588eed-fc08-4448-b793-a287e417c2be": "Hull and East Riding"
        "a77a031a-8037-4510-b1f7-63d4aab7b103": "Waltham Forest"
        "bce1c7e0-ad53-4e30-8e3c-0ca1f0fe6abc": "Derbyshire Districts"
        "5959391a-082e-46d8-929d-93cf895b4d44": "Manchester"
        "783722f2-e28c-4215-bb91-a4ffa6a5fee9": "Kirklees"
        "3713e3be-1b0d-4971-a064-25fa9a6af8bd": "Wigan"
        "525da418-ff2c-4522-90a9-bc70ba4ca78b": "Cardiff and Vale"
        "c312229b-c96d-49d0-8362-4a3f746b3ac4": "Plymouth"
        "138175c6-02be-4f44-b08e-929c80e6598c": "Shropshire"
        "26f675df-fbc6-41a2-9594-485c2052ec2e": "Coventry"
        "12481dc1-e871-4f64-9a3f-5ca3ac58c1a1": "Wolverhampton"
        "dfad96fe-c421-4ffe-8aa8-5061b2c26195": "Worcester"
        "d4303701-3b39-4ede-b001-3b7234b05478": "CENCAB"
        "ecb39ba7-ad9e-4dca-b3a6-904bc3421436": "Chelmsford"
        "de22845b-57f3-456b-a292-e36576ebe7e4": "Maidstone"
        "c552ee9e-d194-4eb6-8257-5c24c47d0a08": "Rushmoor"
        "234fd904-6288-49a9-8d59-f46439ab9060": "Sutton"
        "39885a5e-ecd4-486f-b6d1-12e2f2053806": "Wiltshire"

    cache:
      mode: all
      expires_in: 60 # min

  welsh_language_appointments:
    url: <%= ENV['WELSH_LANGUAGE_APPOINTMENTS_DATABASE_URL'] %>

    cache:
      mode: all
      expires_in: 60 # min

  pension_guidance:
    url: <%= ENV['PENSION_GUIDANCE_DATABASE_URL'] %>

    cache:
      mode: all
      expires_in: 60 # min

  tap:
    url: <%= ENV['TAP_DATABASE_URL'] %>

    inherit_smart_settings:
    - summary_documents 

    smart_columns:
      online_rescheduling_reason:
        '1': 'Inconvenient time'
        '2': 'Wait time until appointment'
        '3': 'Changed mind'
        '4': 'Not prepared enough'
        '5': 'Illness'
        '6': 'Travelling'
      status:
        0: "pending"
        1: "complete"
        2: "no_show"
        3: "incomplete"
        4: "ineligible_age"
        5: "ineligible_pension_type"
        6: "cancelled_by_customer"
        7: "cancelled_by_pension_wise"
        8: "cancelled_by_sms"
        9: "cancelled_by_customer_online"
      secondary_status:
        '0': 'Technological issue'
        '1': 'Guider issue'
        '2': 'Customer issue'
        '3': 'Customer had accessibility requirement'
        '4': 'Customer believed Pension Wise was mandatory'
        '5': 'Customer wanted specific questions answered'
        '6': 'Customer did not want to hear all payment options'
        '7': 'Customer wanted advice not guidance'
        '8': 'Customer behaviour'
        '9': 'Other'
        '10': 'DB pension only and not considering transferring'
        '11': 'Annuity in payment only'
        '12': 'State pension only'
        '13': 'Overseas pension only'
        '14': 'S32 – No GMP Excess'
        '15': 'Cancelled prior to appointment'
        '16': 'Inconvenient time'
        '17': 'Customer forgot'
        '18': 'Customer changed their mind'
        '19': 'Customer not sufficiently prepared to undertake the call'
        '20': 'Customer did not agree with data protection policy'
        '21': 'Duplicate appointment booked by customer'
        '22': 'Customer driving whilst having appointment'
        '23': 'Third-party consent not received'
        '24': 'UK number valid – customer did not answer'
        '25': 'UK number invalid'
        '26': 'Overseas number valid – customer did not answer'
        '27': 'Overseas number invalid'
        '28': 'Customer wanted PSG appointment'
        '29': 'Duplicate appointment'
        '30': 'Guider absence'
        '31': 'Telephony issue'
        '32': 'Inconvenient time'
        '33': 'Wait time until appointment'
        '34': 'Changed mind'
        '35': 'Not prepared enough'
        '36': 'Booked multiple appointments'
        '37': 'Appointment no longer required'
        '38': 'Received guidance from alternative source'
        '39': 'Booked wrong type of appointment'
        '40': 'Other'
        '41': 'CDC scheme'
        '42': 'Already had Pension Wise Digital appointment'
        '43': 'No longer transferring'
        '44': 'Rebooked to MaPS'
      where_you_heard:
        0: 'Unspecified'
        1: 'An employer'
        2: 'A Pension Provider'
        3: 'Internet search'
        4: 'Online advertising'
        5: 'Social media'
        6: 'The Government’s GOV.UK website'
        7: 'TV advert'
        8: 'Radio advert'
        9: 'Newspaper/Magazine advert'
        10: 'Local advertising - billboards, buses, bus stops'
        11: 'Mentioned in a TV/radio programme or newspaper/magazine/online article'
        24: 'Leaflet through front door'
        12: 'A Financial Adviser'
        23: 'MoneyHelper'
        13: 'Money Advice Service (MAS)'
        14: 'The Pensions Advisory Service (TPAS)'
        15: 'Citizens Advice'
        16: 'Relative/Friend/Colleague'
        18: 'Jobcentre Plus'
        19: 'Media - Pensions Awareness Day'
        20: 'Media - Leaving planning retirement finances to two years before retirement'
        21: 'Money and Pensions Service Webinar on Pensions Awareness Day website'
        22: 'Virtual 121 sessions on Pensions Awareness Day website'
        25: 'External (Stronger Nudge)'
        26: 'Talk Money Week'
        27: 'MoneyHelper Pensions Dashboard'
        17: 'Other'
    cache:
      mode: all
      expires_in: 60 # min

  planner:
    url: <%= ENV['PLANNER_DATABASE_URL'] %>

    smart_columns:
      status:
        0: "pending"
        1: "complete"
        2: "no_show"
        3: "ineligible_age"
        4: "ineligible_pension_type"
        5: "cancelled_by_customer"
        6: "cancelled_by_pension_wise"
        7: "cancelled_by_sms"
        8: "incomplete_other"
      secondary_status:
        '0': 'Technological issue'
        '1': 'Guider issue'
        '2': 'Customer issue'
        '3': 'Customer had accessibility requirement'
        '4': 'Customer believed Pension Wise was mandatory'
        '5': 'Customer wanted specific questions answered'
        '6': 'Customer did not want to hear all payment options'
        '7': 'Customer wanted advice not guidance'
        '8': 'Customer behaviour'
        '9': 'Other'
        '10': 'DB pension only and not considering transferring'
        '11': 'Annuity in payment only'
        '12': 'State pension only'
        '13': 'Overseas pension only'
        '14': 'S32 – No GMP Excess'
        '15': 'Cancelled prior to appointment'
        '16': 'Inconvenient time'
        '17': 'Customer forgot'
        '18': 'Customer changed their mind'
        '19': 'Customer not sufficiently prepared to undertake the call'
        '20': 'Customer did not agree with data protection policy'
        '21': 'Duplicate appointment booked by customer'
        '22': 'Customer driving whilst having appointment'
        '23': 'Third-party consent not received'
        '24': 'Duplicate appointment'
        '25': 'Guider absence'
        '26': 'Venue issue'
        '27': 'Inclement weather'
        '28': 'CDC scheme'

    inherit_smart_settings:
    - locator
    - reporting

    cache:
      mode: all
      expires_in: 60 # min

  locator:
    url: <%= ENV['LOCATOR_DATABASE_URL'] %>


    smart_columns:
      location_id: "SELECT uid, title FROM locations WHERE state = 'current' AND uid IN {value}"
      booking_location_id:
        SELECT uid, title as booking_location
        FROM locations
        WHERE state = 'current'
        AND (booking_location_uid IS NULL OR booking_location_uid = '')
        AND uid IN {value}
      delivery_partner_id:
        SELECT l.uid, l.organisation
        FROM locations l
        WHERE l.state = 'current'
      guider_id: "SELECT id, name FROM guiders WHERE id IN {value}"

    cache:
      mode: all
      expires_in: 60 # min

  reporting:
    url: <%= ENV['DATABASE_URL'] %>

    smart_columns:
      answered_daily_calls:
        SELECT location_uid || DATE(called_at), count(1)
        FROM twilio_calls tc
        WHERE outcome = 'forwarded'
        GROUP BY location_uid || DATE(called_at)

      total_daily_calls:
        SELECT location_uid || DATE(called_at), count(1)
        FROM twilio_calls tc
        GROUP BY location_uid || DATE(called_at)

#  main:
#    url: <%= ENV["BLAZER_DATABASE_URL"] %>
#
#    # statement timeout, in seconds
#    # none by default
#    # timeout: 15
#
#    # caching settings
#    # can greatly improve speed
#    # off by default
#    # cache:
#    #   mode: slow # or all
#    #   expires_in: 60 # min
#    #   slow_threshold: 15 # sec, only used in slow mode
#
#    # wrap queries in a transaction for safety
#    # not necessary if you use a read-only user
#    # true by default
#    # use_transaction: false
#
#    smart_variables:
#      # zone_id: "SELECT id, name FROM zones ORDER BY name ASC"
#      # period: ["day", "week", "month"]
#      # status: {0: "Active", 1: "Archived"}
#
#    linked_columns:
#      # user_id: "/admin/users/{value}"
#
#    smart_columns:
#      # user_id: "SELECT id, name FROM users WHERE id IN {value}"

# create audits
audit: true

# change the time zone
# time_zone: "Pacific Time (US & Canada)"

# class name of the user model
# user_class: User

# method name for the user model
# user_name: name

# optional auth method to use as a before_action (default: nil)
# before_action: :authenticate!

# email to send checks from
# from_email: blazer@example.org

check_schedules:
  - "1 day"
  - "1 hour"
  - "5 minutes"
