<tr class="t-result">
  <td class="t-reference">{{reference}}</td>
  <td class="t-customer">{{name}}</td>
  <td class="t-link"><a href="{{url}}" target="_blank" class="btn btn-sm btn-default">View</a></td>
</tr>
